.filter-form {
  padding: 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px; 
}

.filter-title {
  font-size: 16px;
  font-weight: 700;
}

.checkbox-wrapper {
  font-size: 14px;
  color: var(--text-color);
}
