@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
:root {
    /* Define your color palette */
    --primary-color: #ffff;
    --secondary-color: #cfcfcf;
    --dark-gray:#5a6268;
    --light-gray: #f4f4f4;
    --danger-color: #d54c50;
    /* --background-color: #f9f9f9; */
    --text-color: #333;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .MainContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .Link:hover {
    color: var(--danger-color);
  }
  
  